@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.header {
  display: flex;
  position: sticky;
  top: 0;
  padding: 5px 20px;
}

.left-links, .right-links {
  display: flex;
  gap: 15px;
  color: gray;
}

.left-links {
  margin-right: auto;
}

.header a {
  color: gray;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.footer {
  padding: 5px 20px;
  background-color: #eee;
  position: sticky;
  display: flex;
}

.footer a {
  color: #5c5a57; 
}